aliyun-python-sdk-core==2.13.4
aliyun-python-sdk-core-v3==2.13.3
aliyun-python-sdk-kms==2.6.0
asn1crypto==0.24.0
attrs==19.1.0
audioread==2.1.8
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
crcmod==1.7
cryptography==2.6.1
Cython==0.29.13
decorator==4.4.0
Django==2.2.1
django-cache-memoize==0.1.6
django-cors-headers==3.0.1
django-filter==2.1.0
django-ratelimit==2.0.0
django-redis-cache==2.0.0
django-rest-swagger==2.2.0
djangorestframework==3.9.4
djangorestframework-simplejwt==4.3.0
future==0.17.1
idna==2.8
itypes==1.1.0
jams==0.3.4
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jpush==3.3.7
jsonschema==3.0.2
librosa==0.7.0
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
MIDIUtil==1.2.1
mir-eval==0.5
mysqlclient==1.3.14
numba==0.44.1
numpy==1.16.4
openapi-codec==1.3.2
oss2==2.6.1
pandas==0.25.1
pycparser==2.19
pycryptodome==3.8.1
pydub==0.23.1
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyrsistent==0.15.4
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
pyworld==0.2.8
redis==3.2.1
requests==2.21.0
resampy==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
sentry-sdk==0.10.1
simplejson==3.16.0
six==1.12.0
sortedcontainers==2.1.0
SoundFile==0.10.2
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.24.2
vamp==1.1.0
xlrd==1.2.0
